 @import url('https://fonts.googleapis.com/css?family=Raleway');
.ArticleItem{
  margin-left: 55px;
	margin-right: 55px;
	display: block;
	padding: 8px;
	box-shadow: 1px 1px 1px 0px;
	margin-bottom: 10px;
  margin-top: 5px;
	background-color: #e7e7e7;
  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;

}
.title{
  color: #000;
}
