@import url('https://fonts.googleapis.com/css?family=Tinos');

.Footer a{
	text-decoration: none;
	color: #3333fc;
	transition: all .8s ease-in;

}
.Footer a:hover{
	color: #f90;
	letter-spacing: 2px;
	text-decoration: underline;
}
.Footer .footer-container{
	text-align: center;
	bottom: 0;
	position: relative;
	width: 100%;
	left: 0;
	right: 0;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Tinos', serif;
	letter-spacing: 1px;
	width: 100%;

}
.Footer .fa-heart{
	color: red;
}
