@import url('https://fonts.googleapis.com/css?family=Tinos');
.Footer{
  margin-top: 35px;
}
.Footer .footer-container{
  color: #000;
}
.Footer a{
	text-decoration: none;
	color: #ccff66;
	transition: all .8s ease-in;
  letter-spacing: 2px;

}
.Footer a:hover{
	color: #ccff66;
	letter-spacing: 2px;
	text-decoration: underline;
}
.Footer .footer-container{
	text-align: center;
	bottom: 0;
	position: relative;
	width: 100%;
	left: 0;
	right: 0;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Tinos', serif;
	letter-spacing: 1px;
	width: 100%;

}
.Footer .fa-heart{
	color: red;
}
