.input-container{
	margin: 0px auto;
	margin-top: 40px;
	height: 60px;
	text-align: center;
}
.search{
	margin-top: 10px;
}

input[type="text"]{
	width: 380px;
	height: 39px;
	border-radius: 0px;
	background-color: #fff;
	border: none;
	/*border: 1px solid #a2a9b1;*/
	border: 2px solid #36c;
	transition: all .6s ease-in;
	margin-right: 0px;
	outline: inherit;

}

input[type="text"]:focus{
	outline: none;
	width: 480px;
	border: 3px solid #36c;
	border-top: none;
	border-left: none;
	border-right: none;
}


.btn-search{
	height: 39px;
	width: 39px;
	background-color: #36c;
	margin-left:0px;
	color: #fff;
	border-radius: 0px;
	border: 3px solid #36c;
	outline: inherit;
	margin-bottom: 2px;
}
.btn-search:hover{
	background-color: #36c;
	border: none;

}

@media screen and (max-width: 480px){

	input[type="text"]{
		width: 200px;
	}
	input[type="text"]:focus{
		width: 280px;
	}

}
